* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

::selection {
    color: yellow;
    background-color: black;
}

body {
    background-image: url(../assets/backgroundfoda.jpg);
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
}

#title {
    margin: 100px;
    color: yellow;
    font-size: 4em;
}

.container{
    width: 50%;
    max-width: 1200px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

header {
    border-bottom: 1px solid #444;
    padding: 20px;
    background-color: #bbb;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.cell{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

input{
    height: 30px;
    width: 100px;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    border: 2px solid rgb(0, 132, 255);
    padding: 5px;
    margin-top: 10px;


}

select{
    color: white;
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(0, 132, 255);
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 3px solid yellow;
    width: 100px;
    height: 30px;
}

.set{
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    color: #444;
}

.set h1{
    font-size: 1.3em;
}

section {
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-flow: column;
}

button{
    width: 150px;
    height: 60px;
    background-color: rgb(0, 132, 255);
    color:  yellow;
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid yellow;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 114, 221);
    scale: 1.1;
}